{% extends 'AcmeFrontBundle::layout.html.twig' %}
{% block content %}
<div class="container blog-page">
	<div class="row">
		<div class="col-md-8 blog-content">
			{% include 'AcmeFrontBundle::notification.html.twig' %}
			<div class="blog-post">
				<div class="meta-data">
					<div class="meta-data-item">
						<i class="fa fa-calendar-o"></i>
						<a href="#">{{ post.dateAdd|date("Y-m-d") }}</a>
						<div class="meta-divider">
						</div>
					</div>
					<div class="meta-data-item">
						<i class="fa fa-user"></i>
						<a href="#">StudiaKuchenne.pl</a>
						<div class="meta-divider">
						</div>
					</div>
					<div class="meta-data-item">
                            <i class="fa fa-comments"></i>
                            <a href="#comments">
                                {% set countComments = post.getComments|length %}
                                {% if countComments == 1 %}
                                    {{ countComments }} komentarz
                                {% elseif countComments > 1 and countComments < 5 %}
                                    {{ countComments }} komentarze
                                {% else %}
                                    {{ countComments }} komentarzy
                                {% endif %}
                            </a>
                            <div class="meta-divider">
                            </div>
                        </div>
				</div>
				<div class="post-content">

					<h2><a href="{{ url('front_blog_post',{'slug':post.slug}) }}" title="{{ post.name }}">{{ post.name }}</a></h2>
					<div class="post-description">
						{{ post.description|raw }}
					</div>
				</div>
			</div>
			<div class="blog-comments" id="comments">
				<hr/>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headcomment">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#addcomment" aria-expanded="true" aria-controls="addcomment">
									<span>Dodaj komentarz</span>
									<span class="glyphicon glyphicon-plus pull-right"></span>
								</a>
							</h4>
						</div>
						<div id="addcomment" class="panel-collapse collapse{% if is_form_post %} in{% endif %}" role="tabpanel" aria-labelledby="headcomment">
							<div class="panel-body">
								{{ form_start(form)  }}
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group {% if form.author.vars.valid==false %}has-error{% endif %}">
											{{ form_label(form.author, null, {'label_attr': {'class': 'control-label'}}) }}
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-user"></i></span>
												{{ form_widget(form.author, {'attr': {'class': 'form-control'}})  }}
											</div>
											<span class="help-block">{{ form_errors(form.author) }}</span>
										</div>
										<div class="form-group {% if form.email.vars.valid==false %}has-error{% endif %}">
											{{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
												{{ form_widget(form.email, {'attr': {'class': 'form-control'}})  }}
											</div>
											<span class="help-block">{{ form_errors(form.email) }}</span>
										</div>
										<div class="form-group {% if form.captcha.vars.valid==false %}has-error{% endif %}">
											{{ form_widget(form.captcha, {'attr': {'class': 'form-control'}})  }}
											<span class="help-block">{{ form_errors(form.captcha) }}</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group {% if form.description.vars.valid==false %}has-error{% endif %}">
											{{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
											{{ form_widget(form.description, {'attr': {'class': 'form-control'}})  }}
											<span class="help-block">{{ form_errors(form.description) }}</span>
										</div>
									</div>
									<div class="col-md-12">
										{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}})  }}
									</div>
								</div>
								{{ form_end(form) }}
							</div>
						</div>
					</div>

				</div>
				<h2>Komentarze:</h2>
				<hr style="margin-top:10px;margin-bottom:10px;"/>
				<div class="row">
					<div class="col-lg-12" id="opinions">
						{% for opinion in pagination %}
						<div class="media">
							<div class="media-body">
								<h4 class="media-heading">{{ opinion.author }} <span>/ {{ opinion.dateAdd|date("Y-m-d H:i:s") }}</span></h4>
								<p>
									{{ opinion.description }}
								</p>
							</div>
						</div>
						{% else %}
						Brak komentarzy...
						{% endfor %}
						<div class="pagination-wrapper">
							{{ knp_pagination_render(pagination) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 blog-sidebar">
			<div class="sidebar-widget text-widget">
				<h4 class="widget-title">Na blogu</h4>
				<p>
					Na blogu znajdziesz ciekawoski, nowości ze świata <strong>mebli kuchenych</strong>.<br/>
					Informacje o nowo otwartych salonach <strong>mebli kuchennych</strong> oraz o urządzeniach które w są niezbędne w każdej kuchni.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}