{% extends 'AcmeFrontBundle::Studio/studio/base.html.twig' %}
{% block box %}
{% if studio.studioImages|length > 0 %}
<div class="property-images-slider">
    <div id="details-slider" class="flexslider">
        <a href="#" onclick="return false" title="Powiększ zdjęcie" class='fa fa-search-plus property-type-icon zoom-image' style="right:25px;left:auto;"></a>
        <ul class="slides">
            {% for image in studio.studioImages %}
            <li>
                <div class="image-wrapper">
                    <a href="{{ asset(image.getWebPath)|imagine_filter('image_1024x768') }}" title="Powiększ zdjęcie"  data-title="{{ image.title }}" data-toggle="lightbox" data-gallery="imagesizes">
                        <img src="{{ asset(image.getWebPath)|imagine_filter('thumb_770x480') }}" title="{{ image.title }}" alt="gallery">
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="details-carousel" class="flexslider">
        <ul class="slides">
            {% for image in studio.studioImages %}
            <li>
                <img src="{{ asset(image.getWebPath)|imagine_filter('thumb_108x66') }}"/>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div class="property-desc">
    <h3>Studio kuchenne <strong>{{ studio.idCompany.name}} - {{ studio.city }}</strong></h3>
    <ul class="slide-item-features item-features">
        <li><span class="fa fa-map-marker"></span>{{ studio.city }}, ul. {{ studio.street }} {{ studio.home }}, {{ studio.zipcode }}</li>
        <li>
            <span class="fa fa-info"></span>Producenci urządzeń: {{ studio.StudioBrandDevice|length  }} | Producenci mebli: {{ studio.StudioBrandDevice|length  }}
        </li>
    </ul>
    <p>
        {{ studio.description|raw }}
    </p>
    {% if studio.StudioBrandDevice|length > 0 %}
    <hr class="custom"/>
    <h3>Producenci urządzeń</h3>
    <div class="additional-device">
        {% for brandDevice in studio.StudioBrandDevice %}
        <a href="{{ url('front_brand-device_brand',{'slug':brandDevice.idBrandDevice.slug}) }}" title="{{ brandDevice.idBrandDevice.name }}"><img src="{{ asset(brandDevice.idBrandDevice.getWebPath)|imagine_filter('thumb_0x50') }}" class="img-thumbnail" alt="{{ brandDevice.idBrandDevice.name }}"></a>
        {% endfor %}
    </div>
    {% endif %}
    {% if studio.StudioBrandFurniture|length > 0 %}
    <hr class="custom"/>
    <h3>Producenci mebli kuchennych</h3>
    <div class="additional-furniture">
        {% for brandFurniture in studio.StudioBrandFurniture %}
        <a href="{{ url('front_brand-furniture_brand',{'slug':brandFurniture.idBrandFurniture.slug}) }}" title="{{ brandFurniture.idBrandFurniture.name }}"><img src="{{ asset(brandFurniture.idBrandFurniture.getWebPath)|imagine_filter('thumb_0x50') }}" class="img-thumbnail" alt="{{ brandFurniture.idBrandFurniture.name }}"></a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
