{% extends '@AcmeAdmin/Studio/base.html.twig' %}
{% block box %}
<div class="col-md-12">
	<a href="{{ url('admin_studio_expositions',{'id':studio.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Wróć do listy Ekspozycji</a>
	<hr/>
	{{ form_start(form)  }}
	<div class="form-group {% if form.name.vars.valid==false %}has-error{% endif %}">
		{{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.name, {'attr': {'class': 'form-control'}})  }}
		<span class="help-block">{{ form_errors(form.name) }}</span>
	</div>
	<div class="form-group">
		{{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.description, {'attr': {'class': 'form-control'}})  }}
	</div>
	<div class="form-group">
		{% if studioExposition.photo!='' %}
                    <img src="{{ asset(studioExposition.getWebPath)|imagine_filter('thumb_0x50') }}?{{ date().timestamp }}"/><br/>
                    <a href="{{ url('admin_studio_expositions_delete_photo', {'id':studioExposition.idStudio.id, 'id_exposition':studioExposition.id}) }}">Usuń zdjęcie</a>
                    <br/>
                {% endif %}
		{{ form_label(form.file_image, null, {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.file_image, {'attr': {'class': 'form-control'}})  }}
		
	</div>
</div><!-- /.box-body -->
<div class="box-footer">
	{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}})  }}
    {{ form_end(form) }}
    <div>
                        <label class="required"></label> - pola wymagane
                    </div>
</div>

{% endblock %}